.registro {

    margin-right: 5px;
}
span.emaillogin{

    color: white;
}
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}