div.content{
    position: relative;
    
}
div.ingreso{
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    margin:10px;
    position: absolute;
    top: 20px;
    right: 50%;
    display: inline-block;
}

div.boton{
    margin: 10px;
    position: absolute;
    top: 170px;
    right: 65%;
    display: inline-block;
}

.content{
    text-align: center;
    border: 1px solid black;
    position: relative;
}

.registrate{

    color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.login{
    width: 400px;
    height: auto;
    padding: 15px;
    border-left: 3px solid darkslateblue;
    border-right: 3px solid darkslateblue;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -208.5px;
    margin-top: 50px;
}

.intro{
    width: 375px;
    height: 375px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -208.5px;
    margin-top: 50px;
    background-color: rgb(115, 186, 247);
    border-radius: 50%;
    border: 2px dashed darkslateblue;
}

.introContent{
    margin-left: -208.5px;
    margin-top: 40px;
    position: absolute;
    left: 57%;
    top: 17%;
}

.tituloIntro{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.inicioButton {
    margin: 40px;
}

.principalContent{
    margin-left: -208.5px;
    margin-top: 20px;
    position: absolute;
    left: 57%;
    top: 17%;
    color: darkslateblue;
    font-size: 25px;
}

.logo{
    margin-left: 55px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.introPrincipal{
    width: 375px;
    height: 375px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -208.5px;
    margin-top: 50px;
    background-color: white;
    border-radius: 50%;
    border: 2px dashed darkslateblue;
}


